// .no-post {
   
// }


.post-container {
    max-width: 430px;
    margin: 120px auto auto auto;
    border-width: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(219, 202, 202);
}